.text1 {
  top: 220px;
  left: 350px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  position: absolute;
  color: #000000;
}

.text2 {
  top: 300px;
  left: 300px;
  position: absolute;
}
.T1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
}
.text3 {
  top: 328px;
  left: 325px;
  position: absolute;
}
.T2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
}
.text4 {
  position: absolute;
  top: 360px;
  left: 400px;
}
.T3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
}
