.PasswordUpdated {
  width: 100%;
  height: 100%;
}
.PULeft {
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100%;
  width: 50%;
}
.PURight {
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: 50%;
}
body {
  display: contents;
}
.PUT1 {
  position: absolute;
  width: 488px;
  height: 102px;
  top: 380px;
  left: 200px;
}
.PUText1 {
  position: relative;
  top: 10%;
  font-family: Inter;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #089a43;
}
.PUT2 {
  position: absolute;
  width: 488px;
  height: 102px;
  top: 430px;
  left: 205px;
}
.PUText2 {
  position: relative;
  top: 10%;
  font-family: Inter;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: -1px;
  text-align: center;
  color: #3d3d3d;
}
.PUB {
  top: 280px;
  left: 20px;
}
.PUBSI {
  top: 600px;
  right: 380px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  border: none;
  color: #141212;
  border: none;
  position: absolute;
  width: 245px;
  height: 73px;
  background: #d2cbd2;
  border-radius: 50px;
}
@media (max-width: 480px) {
  .PasswordUpdated {
    width: 100vw;
  }
}
